/*----------Google font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/*----------------CSS variables-------------------*/
:root {
  --yellow: #f03562;
  --white: #fdf9fd;
  --black: #333541;
}

/*------------Generic styles------------------------*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive, sans-serif;
    font-size: 20px;  
}
/*------title and nav bar styles----------------------*/
.navbar {
    align-items: unset;
}
.bg-navbar {
   background-color: #ff8b36!important;
   color: var(--white)!important;
}
.navbar-brand {
    padding-left: 2rem;
}
.navbar-item {
    margin-right: 15px;  
      
}
.navbar-item a {
    font-size: 20px;  
}
.active,.nav-link:hover  {
    background-color: var(--black);
    color: var(--white)!important;
}
.toggler-btn {
    margin-bottom: 3px;
}

/*------------------------carousel------------------------------*/

.carousel-caption {
    top: 75px!important;
    color: black;
}
.carousel-image {
    height: 500px;
}
.carousel-caption i {
    font-size: 175px;
    margin-top: 20px;
}
.carousel-control-next, .carousel-control-prev {
    color: black!important;
}
    
/*------------------Schedule-------------------------------*/
.schedule {
    background-color: #e9ecef;
}
#schedule-header {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.schedule_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.schedule_table td, #schedule_table th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.schedule_table tr:nth-child(even){
    background-color: #99d66e;
}

.schedule_table tr:hover {
    background-color: #ddd;
}

.schedule_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff8b36;
  color: white;
}

.today {
    
    color: blue;
    
}
#scheduleaccordion {
    text-align: center;
    
}
.weekdaybtn {
    color: black;
}

/*---------------location---------------------------*/
#Google_map_location {
    background-color: #e9ecef;
}
.location-header h2,p {
    text-align: center;
    
}
#map {
    widows: 100%;
    height: 500px;
}
.hide{
    display: none;
    }
#map-info {
    margin-top: 125px;
    
}
.card-title {
    text-align: center;
    background-color: orange;
}

.bg-text {
    background-color: yellowgreen;
    
}
/*---------------accordion styles-----------------*/
#schedule-rtable {
   display: none;
}

/*show for small screens */
@media only screen and (max-width: 540px) { /* I've given 1023px but you can change to proper width */
    #schedule-rtable {
        display: block;
    }
    #schedule-table {
        display: none;
    }
}

@media only screen and (min-width: 780px) { /* I've given 1023px but you can change to proper width */
    #schedule-table {
        display: block;
    }
    #schedule-rtable {
        display: none;
    }
}

/*------------Place order------------------*/
#place_order {
    margin: 5% 20%;
    padding: 10px;
    background-color: #fae1c9 ;
}


#acknowledgement h2,h3 {
    text-align: center;
    margin: 20px;
}
#acknowledgement img {
    height: 500px;
    width: 500px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

}
.ack-schedule {
    text-decoration: none;
}
/*----------footer--------------------*/
#footer {
background-color: #212529;
    color: white;
}
.footer-contact {
    text-align: left;
    padding: 5px;
    padding-left: 20px;
}
.footer-ul {
    list-style-type: none;
}