/*----------Google font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/*----------------CSS variables-------------------*/
:root {
  --orange: #ff8b36;
  --white: #fdf9fd;
  --black: #333541;
}

/*------------Generic styles------------------------*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive, sans-serif;
    font-size: 20px;  
    color: navy;
}
/*------title and nav bar styles----------------------*/
.navbar {
    align-items: unset;
}
.bg-navbar {
   background-color: var(--orange)!important;
   color: var(--white)!important;
}
.navbar-brand {
    color: navy!important;
}
.btn-order {
    background-color: darkgreen!important;
    color: white;
    word-wrap: none!important;
    border: 0;
    margin-left: 10px!important;
    margin-right: -5px;
}
.logo {
    margin-left: 10px;
    
}
.logo h1 {
    font-weight: 700;
    
}
.navbar-toggler {
    border: none;
    
}
.toggler-btn {
    margin-right: 10px;
    padding-left: 10px;
    
    
}
.toggler-nav {
    text-align: right;
}
.toggler-btn i {
    color: navy!important;
    font-size: 28px;
    margin-top: 7px;
}

.navbar-item {
    margin: 5px;
    padding: 2px;
}
.navbar-item a {
    font-size: 20px;
    font-weight: 500;
    color: navy!important;
}
.active,.nav-link:hover  {
    text-decoration-line: underline;
}
.btn-order:hover {
    transform: scale(1.25); /* reference w3schools*/
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    color: var(--white);
}
.nav-menu {
    width: 60px;
    padding:0;
}
/*---------media queries for nav bar----------*/
@media (min-width: 320px) {
    .toggler-btn {
    margin-left: 30px;
    }
}
@media (min-width: 360px) {
    .toggler-btn {
    margin-left: 80px;
    }
    
}
@media (min-width: 375px) {
    .toggler-btn {
    margin-left: 100px;
    }
}
@media (min-width: 411px) {
    .toggler-btn {
    margin-left: 120px;
    }
}
@media (min-width: 540px) {
    .toggler-btn {
    margin-left: 240px;
    }
}


/*------------------------carousel------------------------------*/

.carousel-caption {
    top: 125px!important;
    color: navy;
}
.carousel-item {
    border: 0;
}

.carousel-image {
    height: 600px;
}
.carousel-caption i {
    font-size: 150px;
    margin-top: 20px;
    color: navy;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: navy;
}
    
/*------------------Schedule-------------------------------*/
.schedule {
    background-color: #fae1c9;
    /*#e9ecef;*/
    padding-bottom: 20px;
    
}
#schedule-header {
    text-align: center;
    margin: 5px;
}
.schedule_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.schedule_table td, #schedule_table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  
}

.schedule_table tr:nth-child(even){
    background-color: #c9deba;
}

.schedule_table tr:hover {
    background-color: #e8a908;;
}

.schedule_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6da13c;
  color: white;
}

.today {
    
  color: blue;
    
}
#scheduleaccordion {
    text-align: center;
}
#scheduleaccordion p {
    
    font-size: 18px;
    color: black;
    text-align: center;
    
}

.weekdaybtn {
    color: black;
    text-align: center;
}
#schedule span {
    margin-right: -20px;
}

/*---------------location---------------------------*/
#Google_map_location {
    background-color: #c9deba;
     /*#c9deba;*/
    margin: 5px;
    
}
.map-container {
    height: 700px;
}
.location-header h2,p {
    text-align: center;
    
}
#map {
    widows: 100%;
    height: 500px;
}
.hide{
    display: none;
    }

.card {
    background-color: lightblue;
}
.card-title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    
}
.card-text {
    text-align: left;
    padding: 0 2px;
}


/*---------------accordion styles-----------------*/
#schedule-rtable {
   display: none;
}

/*show for small screens */
@media only screen and (max-width: 540px) { /* I've given 1023px but you can change to proper width */
    #schedule-rtable {
        display: block;
    }
    #schedule-table {
        display: none;
    }
    .map-container {
    height: 1100px;
}
}

@media only screen and (min-width: 780px) { /* I've given 1023px but you can change to proper width */
    #schedule-table {
        display: block;
    }
    #schedule-rtable {
        display: none;
    }
    #map-info {
    margin-top: 125px;
    
}
}

/*------------Place order------------------*/
#place_order {
    margin: 50px 10px;
    padding: 10px;
    background-color: #fae1c9 ;
}

.form-btn {
    text-align: center;
}
.btn-form {
    background-color: #ff8b36;
    
}
#acknowledgement {
    align-items: center;
}
#acknowledgement h2,h3 {
    text-align: center;
    margin: 20px;
}
#acknowledgement img {
    text-align: center;

}
.ack-schedule {
    text-decoration: none;
}
/*----------media queries for place order---------*/
@media (min-width:540px) {
    #place_order {
    margin: 50px 50px;
    }
}
@media (min-width:1024px) {
    #place_order {
    margin: 50px 90px;
    }
}
@media (min-width:1024px) {
    #place_order {
    margin: 70px 150px;
    }
}
/*---------media queries for acknowledgement-----------------*/
@media (min-width: 280px) {
    #acknowledgement img {
        margin-left: 10px;
       
    }
}
@media (min-width: 320px) {
    #acknowledgement img {
        margin-left: 30px;
       
    }
}

@media (min-width: 360px) {
    #acknowledgement img {
        margin-left: 50px;
       
    }
}
@media (min-width: 411px) {
    #acknowledgement img {
        margin-left: 70px;
       
    }
}
@media (min-width: 540px) {
    #acknowledgement img {
        margin-left: 130px;
       
    }
}
@media (min-width: 768px) {
    #acknowledgement img {
        margin-left: 230px;
       
    }
}
@media (min-width: 1024px) {
    #acknowledgement img {
        margin-left: 350px;
       
    }
}
@media (min-width: 1200px) {
    #acknowledgement img {
        margin-left: 600px;
       
    }
}
/*----------footer--------------------*/
.footer {
background-color: #212529;
    color: #ff8b36;
    font-size: 14px;
}
.footer-contact {
    text-align: left;
    padding: 5px;
    padding-left: 20px;
}

.footer-ul {
    list-style-type: none;
}
.list-inline-item a {
    color: #ff8b36;
    
}
/*---------media queries for footer----------*/
@media (max-width: 280px) {
    .footer-ul {
        font-size: 16px;
        padding-left: 20px;
       
    }
    .footer-ul i {
        font-size: 14px;
    }
    .social-links i {
        font-size: 18px;
    }
}
@media (min-width: 320px) {
    .footer-ul {
        margin-left: 15px;
    }
}
@media (min-width: 360px) {
    .footer-ul {
        margin-left: 25px;
    }
}
@media (min-width: 375px) {
    .footer-ul {
        margin-left:40px;
    }
}
@media (min-width: 411px) {
    .footer-ul {
        margin-left: 60px;
    }
}
@media (min-width: 414px) {
    .footer-ul {
        margin-left: 75px;
    }
}
@media (min-width: 540px) {
    .footer-ul {
        margin-left: 120px;
    }
}
@media (min-width: 360px) and (max-width: 540px) {
    .footer-ul {
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .col-footer h5 {
        font-size: 34px;
    }
    .col-footer h6 {
        font-size: 30px;
    }
    .footer-ul {
        margin-left: 190px;
        font-size: 30px;
    }
    .footer-ul i {
        font-size: 24px;
    }
    .social-links i {
        font-size: 36px;
    }
}
@media (min-width: 1024px) {
    .footer-ul {
        margin-left: 0;
        padding-left: 70px;
}
    }

@media (min-width: 1200px) {
    .footer-ul {
        margin-left: 100px;
        padding-left: 50px;
        font-size: 20px;
    }
}
